

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tagesschrift&display=swap');



#content {
    max-width: 1600px;
    margin: 0 auto;
}

:root {
    --heading-font: 'Tagesschrift';
    --paragraph-font: 'Open Sans';
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    background-color: #dd6e42;
    text-decoration: none;
    padding: 35px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1 {
    text-align: center;

}

#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}


#background {
    height: 725px;
    background-color: #C0D6DF;
    grid-column: 1/11;
    grid-row: 4/9;
}

body {
    background-color: #dd6e42;
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #dd6e42;
    font-family: var(--paragraph-font);
}

nav a:hover {
    background-color: #C0D6DF;
}

.book, .join {
    background-color: #C0D6DF;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;


}

.book:hover, .join:hover {
    background-color: #E8DAB2;
}

.msg {
    background-color: #4F6D7A;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px black;
}

footer {
    background-color: #4F6D7A;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
}


.home-title {
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
    color: #E8DAB2;

}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}



h4 {
    color: #E8DAB2;
}

h2 {
    margin: 0;
}

.msg h2 {
    color: #E8DAB2;
    font-family: var(--heading-font);
}

.msg p {
    color: #C0D6DF;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a {
    color: #C0D6DF;
    text-decoration: none;

}

footer a:hover {
    color: #dd6e42;
}

.icon, .logo {
    width: 80px;
}


#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
    font-family: var(--paragraph-font);


}

footer p:hover {
    text-decoration: underline;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon {
    padding-top: 10px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
    grid-row: 2/3;
}

.card-img {
    width: 100%;
    border: 10px solid #4F6D7A;
    transition: transform .5s;
    box-shadow: 5px 5px 10px black
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}


.rivers-card {
    grid-column: 2/4;
}

.camping-card {
    grid-column: 5/7;
}

.rapids-card {
    grid-column: 8/10;
}

.mountains {
     width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px black;
}



@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}